---
---

@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$color-primary: white;
$color-secondary: gray;

%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }


body {
    @extend %roboto;
    font-size: 18px;
    line-height: 30px;
    padding-top: 51px;
    -webkit-font-smoothing: antialiased;
}

p {
    margin-bottom: 30px;
}

section, header, footer, main, article, nav {
  position: relative;
}

a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $color-secondary;

    &:hover { color: #5D5D5D; cursor: pointer; }
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %oswald;
}

h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
    background: #086AFF;
    color: #fff;
}

nav.navbar {
    margin: 0;
    max-width:100%;

    a {
        text-transform: uppercase;
        color: white !important;
        font-size: 16px;
    }

    .hover-bold :hover {
        font-weight: bold;
    }

    .navbar-brand {
        text-transform: none;
        font-size: 20px;
        color: $color-primary;

        i {
            transition: inherit;
            color: $color-primary;
            transform: scale(1);
        }

        &:hover i {
            color: #edf0f6;
            transform: scale(1.35);
            cursor: pointer;
        }
    }
}

h1.special {
    position: absolute;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    @extend %oswald;
    font-size: 69px;
    line-height: 69px;
    font-weight: 700;
    color: $color-primary;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    text-align: center;

    span {
        display: inline-block;
        position: relative;
        padding-top: 25%;
        max-width: 100%;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #e8e8e8;
            width: 99999999px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }
    }
}

.site-footer {
    margin-top: 100px;
}

.intro-header {
    text-align: center;
    color: #f8f8f8;
    background: url(../img/background-minified.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.footer-bar {
  background-color: black;
  color: white;
  height: 150px;
  width: 100%;
}

.footer-bar-lower {
  background-color: gray;
  color: black;
  height: 50px;
  width: 100%;
}

.description {
  font-size: 20px;
  padding-top: 55px;
  text-align: justify;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.img-circle-one {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: url("../img/laptop2.jpeg") center no-repeat;
  background-size: cover;
  margin-top: 35px;
}

.img-circle-two {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: url("../img/typewriter.jpeg") center no-repeat;
  background-size: cover;
  margin-top: 35px;
}

.page-header {
  text-transform: uppercase;
  @extend %oswald;
  font-size: 69px;
  line-height: 69px;
  font-weight: 500;
  color: gray;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  text-align: center;
}

.bio-image {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background: url("../img/headshot-minified.jpg") center no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.social-media {
  color: white;

  &:hover { color: #5D5D5D; cursor: pointer; }
}

.work-title {
  font-size: 18px;
}

.work-body {
  font-size: 16px;
}

.print {
  font-size: 14px;
  text-transform: uppercase;
  color: gray;
}

/* PORTFOLIO STYLING */

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(50, 50, 50, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #18BC9C;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
