
    <footer class="site-footer">
      <div class="footer-bar">
        <div class="row">
          <center>
            <br>
            <span style = "font-size: 30px; text-transform:uppercase;display: inline-block; padding-bottom: 15px;">Connect</span>
            <br>
            <a href="https://github.com/cepowell">
              <i class="fa fa-github social-media" style="font-size:30px; padding-left: 10px; padding-right: 10px;"></i>
            </a>
            <a href="https://www.linkedin.com/in/cait-powell/">
              <i class="fa fa-linkedin social-media" style="font-size:30px; padding-left: 10px; padding-right: 10px;"></i>
            </a>
            <a href="https://www.instagram.com/cinnamonpeeler/">
              <i class="fa fa-instagram social-media" style="font-size:30px; padding-left: 10px; padding-right: 10px;"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCTmZh9xH0gvPmc22II-_ORQ">
              <i class="fa fa-youtube-play social-media" style="font-size:30px; padding-left: 10px; padding-right: 10px;"></i>
            </a>
            <br>
          </center>
        </div>
      </div>
      <div class="footer-bar-lower">
        <center>
          <span style="font-size: 15px; padding-bottom: 10px; padding-top: 10px; display: inline-block; ">&copy; Cait Powell 2017</span>
        </center>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>

    </body>

</html>
