<div class="row intro-header">
    <div class="col-lg-12">
        <div class="intro-message">
            <h1 style = "text-transform: uppercase;">Cait Powell</h1>
            <h3>Computer Scientist &middot; Writer</h3>
            <hr class="intro-divider">
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <center>
      <div class="img-circle-one"></div>
    </center>
  </div>
  <div class="col-lg-4">
    <div class="description">
        Cait is a queer software engineer and poet from the San Francisco Bay Area. She's interested
        in sexuality, mental health, trauma, and feminism.
    </div>
  </div>
  <div class="col-lg-4">
    <center>
      <div class="img-circle-two"></div>
    </center>
  </div>
</div>
