<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 style = "text-transform: uppercase;">Cait Powell</h1>
                    <h3>Computer Scientist &middot; Writer</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-4">
      <center>
        <div class="img-circle-one"></div>
      </center>
    </div>
    <div class="col-lg-4">
      <div class="description">
          Cait is a software engineer and writer from the San Francisco Bay Area.
          Her work focuses on interdisciplinary and intersectional approaches to technological and artistic questions.
      </div>
    </div>
    <div class="col-lg-4">
      <center>
        <div class="img-circle-two"></div>
      </center>
    </div>
  </div>
  
</div>
