<div class="row header home">
    <div class="col-lg-12">
        <div class="intro-message">
            <h1 style = "text-transform: uppercase;">Cait Powell</h1>
            <h3>Frontend Engineer &middot; Writer</h3>
            <hr class="intro-divider">
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <center>
      <div class="img-circle-one"></div>
    </center>
  </div>
  <div class="col-lg-4">
    <div class="description">
        Hi there! I'm Cait and I'm a queer writer and web-based frontend engineer from the San Francisco Bay Area.
        Click around for coding samples and my published writing, and feel free to connect with me on social media.
    </div>
  </div>
  <div class="col-lg-4">
    <center>
      <div class="img-circle-two"></div>
    </center>
  </div>
</div>
