{% include header.html %}

  <div class = "container-fluid">
    {% include page-header.html %}
    <div class="container about-container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <center>
            <div style="text-align: justify; margin-top: 30px;">
              {{ content }}
            </div>
          </center>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <center>
            <img src="../img/cait_headshot2019-min.jpg" alt="Cait's headshot" class="headshot">
          </center>
        </div>
      </div>
    </div>
  </div>


{% include footer.html %}
