{% include header.html %}

  <div class = "container-fluid">
    {% include page-header.html %}
    <div class="container about-container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <center>
            <div style="text-align: justify; margin-top: 30px;">
              {{ content }}
            </div>
          </center>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <center>
            <img src="../img/cait_headshot2019.jpg" alt="Cait's headshot" class="headshot">
          </center>
        </div>
      </div>

      <br/>
      <br/>

      <div class="row">
        <div class="col-lg-6">
          <center>
            <div class="social-header"> Instagram </div>
            <p id="instafeed"></p>
          </center>
        </div>
        <div class="col-lg-6">
          <center>
            <div class="social-header right"> Twitter </div>
            {% twitter https://twitter.com/cait_for_short maxwidth=500 limit=5 %}
          </center>
        </div>
      </div>
    </div>
  </div>


{% include footer.html %}

<script src="{{ site.data.global.url }}/assets/js/instafeed.min.js"></script>
<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: '183940017',
    limit: '9',
    sortBy: 'most-recent',
    resolution: 'standard_resolution',
    accessToken: '183940017.fe134f4.35fb44cd55cc4a30a755d481d27fdad1',
    clientId: 'fe134f4e995b4141af79cd6b300adfa7',
    template: '<a href="{% raw %}{{link}}{% endraw %}" target="_blank"><img src="{% raw %}{{image}}{% endraw %}" /></a>'
  });

  feed.run();
</script>
<script src="{{ site.data.global.url }}/assets/js/instagram.js"></script>
