{% include header.html %}

<div class="container-fluid">

  {% include poetry-header.html %}

  <center>
    {% for item in site.data.poetry %}
      <span class="poetry-year">{{item.year}}</span>
      <div>
        {% for entry in item.poems %}
          <span class="work-title">
            <a href={{entry.url}}>{{entry.title}}</a>
          </span>
          <br>
          <span class="work-body">
            <em>{{entry.journal}}</em>, {{entry.issue}}
          </span>
          {% if forloop.last == false %}
            <br>
            &mdash;
            <br>
          {% endif %}
        {% endfor %}
      </div>
      {% if forloop.last == false %}
        <br />
      {% else %}
        <div class="row" id="runes">
          <div class="col-md-4 col-md-offset-4 portfolio-item">
            <span>
              <strong>
                <a href="#runesModal" data-toggle="modal">See more about this piece.</a>
              </strong>
            </span>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </center>

</div>

{% include footer.html %}

<div class="portfolio-modal modal fade" id="runesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>The Runes at Uppsala</h2>
            <hr>
            <img src="../img/runes-min.jpg" class="img-responsive img-centered" alt="">
            <p>Digital poetry collection that explores the relationship between physical space, memory, and the experience of reading a poem.</p>
            <ul class="list-inline item-details">
              <li>
                <strong>December 2016</strong>
              </li>
              <br>
              <li>
                <strong><a href="https://runesatuppsala.herokuapp.com/">Project here.</a>
                </strong>
              </li>
              <br>
              <li>
                <strong><a href="https://github.com/cepowell/The-Runes-at-Uppsala">Code here.</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
