{% include header.html %}

  <div class = "container-fluid">

    {% include page-header.html %}

    <center>
      <span style = "font-size: 20px; text-transform:uppercase;display: inline-block; padding-top: 15px; padding-bottom: 15px; font-weight: bold;">Non-Proprietary Web Development Projects</span>
    </center>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/aletheia.png" class="img-responsive" alt="Project Aletheia">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/runes.png" class="img-responsive" alt="Runes at Uppsala">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../img/alexandria.png" class="img-responsive" alt="Project Alexandria">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <br>

    <center>
      <span style = "font-size: 20px; text-transform:uppercase;display: inline-block; padding-top: 15px; padding-bottom: 15px; font-weight:bold;">Academia and Awards</span>

      <div>

        <span class="work-title">
          Project Aletheia: A Web-Based Support Network for Survivors of Campus Sexual Assault
        </span>
        <br>
        <span class="work-body">
          Master's Thesis, Mills College, April 2017
        </span>
        <br>
        <span class="print">
          <a href="http://search.proquest.com/openview/b6d5121f82b8f0408aca375fc6d00a46/1?pq-origsite=gscholar&cbl=18750&diss=y">access here</a>
        </span>

        <br>
        &mdash;
        <br>

        <span class="work-title">
          Man Pain in the Man Booker Prize: A Quantitative Approach to Contemporary Canon Formation
        </span>
        <br>
        <span class="work-body">
          Bachelor's Thesis, Scripps College, May 2014
        </span>
        <br>
        <span class="print">
          <a href="http://scholarship.claremont.edu/scripps_theses/425/">access here</a>
        </span>

        <br>
        &mdash;
        <br>

        <span class="work-title">
          Crombie Allen Award for Best Creative Written Work
        </span>
        <br>
        <span class="work-body">
          <em>Scripps College</em>, Spring 2012
        </span>
        <br/>
        <span class="print">
            Awarded for short story entitled "The Mourners," published in <em>The Scripps Journal</em>
        </span>

        <br>
        &mdash;
        <br>

        <span class="work-title">
          Ruth George Poetry Prize
        </span>
        <br>
        <span class="work-body">
          <em>Scripps College</em>, Spring 2011
        </span>

      </div>

    </center>

    <br/>

    <center>
      <span style = "font-size: 20px; text-transform:uppercase;display: inline-block; padding-top: 15px; padding-bottom: 15px; font-weight: bold;">
        Check out my <a href="https://github.com/cepowell">GitHub</a> for more coding and development work.
      </span>
    </center>

  </div>

  {% include footer.html %}


  <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Aletheia</h2>
                            <hr>
                            <img src="../img/aletheia.png" class="img-responsive img-centered" alt="">
                            <p>Social network allowing campus sexual assault survivors to share resources, stories, and support. </p>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>April 2017</strong>
                                </li>
                                <br>
                                <li>
                                    <strong><a href="https://project-aletheia.herokuapp.com/">Prototype here.</a>
                                    </strong>
                                </li>
                                <br>
                                <li>
                                    <strong><a href="https://github.com/cepowell/Project-Aletheia">Code here.</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>The Runes at Uppsala</h2>
                            <hr>
                            <img src="../img/runes.png" class="img-responsive img-centered" alt="">
                            <p>Digital poetry collection that explores the relationship between physical space, memory, and the experience of reading a poem.</p>
                            <ul class="list-inline item-details">
                              <li>
                                  <strong>December 2016</strong>
                              </li>
                              <br>
                              <li>
                                  <strong><a href="https://runesatuppsala.herokuapp.com/">Project here.</a>
                                  </strong>
                              </li>
                              <br>
                              <li>
                                  <strong><a href="https://github.com/cepowell/The-Runes-at-Uppsala">Code here.</a>
                                  </strong>
                              </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Alexandria</h2>
                            <hr>
                            <img src="../img/alexandria.png" class="img-responsive img-centered" alt="">
                            <p>Social network for aspiring amateur writers to compose, share, and offer and receive feedback on their work.</p>
                            <ul class="list-inline item-details">
                              <li>
                                  <strong>May 2016</strong>
                              </li>
                              <br>
                              <li>
                                  <strong><a href="http://alexandriapp.herokuapp.com/">Prototype here.</a>
                                  </strong>
                              </li>
                              <br>
                              <li>
                                  <strong><a href="https://github.com/cepowell/alexandria">Code here.</a>
                                  </strong>
                              </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
